* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none; 
    cursor: url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35.62 30.09' width='50' height='50'><path d='M14.11,30.09H29V26.54H14.11Zm7.35-13.5H25V11.94H21.46ZM31,3.6h4.6V.05H31ZM0,3.55H15.72V0H0Z' transform='translate(-1.64 -1.76)'/></svg>") 25 25, auto;
}

:root {
    --white: #FFF;
    --beige: #fbe5ca;
    --grey: #a6a5a5;
    --black: #000000;
    --yellow: #ffff00;
    --mustard: #ffc800;
    --orange: #ff6600;
    --hotred: #ff3608;
    --red: #f30000;
    --babypink: #ffdae9;
    --pink: #ff95d5;
    --hotpink: #ff00b7;
    --purple: #6c27ff;
    --lilac: #b6a0ff;
    --trueblue: #001aff;
    --blue: #00deff;
    --green: #06ec3f;
}



@font-face {
    font-family: 'mori';
    src: url(fonts/mori-regular.woff);
    font-weight: 400;

    font-family: 'pass';
    src: url(fonts/pass-regular.woff);
    font-weight: 400;

    font-family: 'rungli-italic';
    src: url(fonts/rungli-italic.woff2);
    font-weight: 400;

}

@media (max-width:800px) {
    :root {
        font-size: 14px;
    }
}

body {
    overflow: overlay;
    font-family: 'pass', sans-serif;
    line-height: 1.5;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
}

hr {
    color: var(--black);
    margin: 0.35rem 0;
}

sup {
    font-size: 0.8rem;
    color: var(--purple);
    background-color: var(--babypink);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;

    margin-left: -.75rem;
    margin-right: -.75rem;
}

.flex-container>* {
    padding-left: .75rem;
    padding-right: .75rem;
}

.flex-container-timeline {
    display: flex;
    flex-wrap: wrap;
    line-height: 1rem;

    margin-left: -.75rem;
    margin-right: -.75rem;
}

.flex-container-timeline>* {
    padding-left: .75rem;
    padding-right: .75rem;
}

/* ----- Header ----- */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    height: 4rem;
    padding: 0 1.5rem 0 1.5rem;
}

header .flex-container {
    align-items: center;
    height: 4rem;
}

header .menu-item {
    width: calc(100% / 12 * 2);
    font-size: 1.25rem;
}

@media (max-width:769px) {
    header .menu-item {
    width: calc(100% / 12 * 2.7);
    font-size: 1.25rem;
    }
}

header .menu-item:hover {
    color: var(--white);
    transition: .2s;
}

header .logo {
    width: calc(100% / 12 * 6);
    text-align: right;
}

@media (max-width:769px) {
    header .logo {
        width: calc(100% / 12 * 1);
        text-align: right;
    }
}

header .logo img {
    width: auto;
    height: 1.15rem;
    display: inline-block;
}

header .logo img:hover {
    opacity: 0%;
    transition: .2s;
}

/* ----- Main ----- */
main.home {
    background: var(--white);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header-index .menu-item {
    color: var(--black);
}

.header-index .menu-item:hover {
    opacity: 0%;
}

main .home-logo img {
    width: 100%;
    height: auto;
}

main .home-visuals img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

@media (max-width:769px) {
    main .home-visuals img {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
    }
}

/* ----- About ----- */
main.about {
    background-color: var(--white);
    /* height: 100vh;
    height: calc(var(--vh, 1vh) * 100); */
    padding: 1.5rem;
    display: flex;
    align-items: flex-end;
}

@media (max-width:769px) {
    main.about {
        background-color: var(--white);
        /* height: 100vh;
        height: calc(var(--vh, 1vh) * 100); */
        padding: 1.5rem;
        display: flex;
        align-items: flex-end;
    }
}

.header-about .menu-item:hover {
    color: var(--white);
}

main.about .about-text {
    font-size: 3rem;
    line-height: 3.5rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.playful::selection {
    color: var(--pink);
    background: var(--purple);
}

main.about .about-text::selection {
    color: transparent;
    background: var(--yellow);
  }

@media (max-width:769px) {
    main.about .about-text {
        font-size: 2.5rem;
        line-height: 3rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
}

main.about .about-detail {
    font-size: 1.25rem;
    width: calc(100% / 3);
    margin-bottom: 1rem;
    line-height: 2rem;
}

@media (max-width:1000px) {
    main.about .about-detail {
        font-size: 1.25rem;
        width: 100%;
        margin-bottom: 1rem;
        line-height: 2rem;
    }
}

main.about .about-detail::selection {
    color: var(--grey);
    
  }


main.about .about-detail .about-link:hover {
    font-family: 'rungli-italic';
    src: url(fonts/rungli-italic.woff2);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.45rem;
    color: var(--grey);
    background-color: var(--yellow);
}

main.about .about-detail-timeline {
    font-size: 1.25rem;
    width: calc(100% / 3);
    line-height: 1.75rem;
}

@media (max-width:1000px) {
    main.about .about-detail-timeline {
        font-size: 1.25rem;
        width: 100%;
    }
}

main.about .about-detail-timeline::selection {
    color: var(--grey);
  }

main.about .about-detail-timeline .about-link:hover {
    color: var(--grey);
    background-color: var(--yellow);
    font-family: 'rungli-italic';
    src: url(fonts/rungli-italic.woff2);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.45rem;
}

.about-link::selection {
    transition: .2s;
    color: var(--grey);
}

main.about .about-education {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

main.about .about-education::selection {
    color: var(--grey);
  }

main.about .about-education .about-link:hover {
    transition: .2s;
    color: var(--grey);
    background-color: var(--yellow);
}


@media (max-width:769px) {
    main.about .about-education {
        font-size: 1.75rem;
        line-height: 2.25rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}

/* ----- Projects ----- */
.header-projects { 
    color: var(--black);
}

header .menu-item:hover {
    opacity: 0%;
    transition: .2s;
}

 /*
main.projects {
    margin-top: 4rem;
}
*/ 

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*
    padding: 0.3rem;
    */
}

.card {
    position: relative;
    width: calc(100% / 2);
    aspect-ratio: 4/3;
    color: var(--black);
    /*
    background: transparent;
    border-style: solid;
    border-width: 0.3rem;
    border-color: var(--white);
    */

}

.card::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }

  .card::after {
    display: block;
    content: "";
    clear: both;
  }

@media (max-width:900px) {
    .card {
        flex: 100%;
    }
}

.card-image {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--black);
    background-size: 70%;
    background-position: 1.5rem 1.5rem;
    background-repeat: no-repeat;
}

.card-info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: var(--white);
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 1rem 1.5rem 1rem 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-info .card-title {
    font-size: 2rem;
    line-height: 2.45rem;
    padding-bottom: 1rem;
   }

.grey {
    background:var(--grey);
}

.beige {
    background: var(--beige);
}

.yellow {
    background: var(--yellow);
}

.mustard {
    background: var(--mustard);
}

.orange {
    background: var(--orange);
}

.hotred {
    background: var(--hotred);
}

.red {
    background: var(--red);
}

.babypink {
    background: var(--babypink);
}

.pink {
    background: var(--pink);
}

.hotpink {
    background: var(--hotpink);
}

.purple {
    background: var(--purple);
}

.lilac {
    background: var(--lilac);
}

.trueblue {
    background: var(--trueblue);
}

.blue {
    background: var(--blue);
}

.green {
    background: var(--green);
}





.card:hover .card-info {
    color: var(--white);
    background: transparent;
}

/* ----- Projects Page ----- */
header.projects {
    color: var(--white);
    background-color: transparent;
}

header.projects .menu-item:hover {
    opacity: transparent;
    background-color: transparent;
}


.projects-page {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--black);
    color: white;
}

.project-title {
    position: fixed;
    width: calc(100% / 3.2);
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25;
    color: var(--white);
}

.project-title::selection {
    color: var(--yellow);
  }


@media (max-width:1070px) {
    .project-title {
        position: fixed;
        width: 80%;
        margin-top: 4rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: var(--white);
    }
}

.project-tags {
    position:fixed;
    width: calc(100% / 3.5);
    margin-top: 8rem;
    text-align: left;
    font-size: 1.10rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
}

.project-tags::selection {
    color: var(--yellow);
    background: transparent;
  }

@media (max-width:1070px) {
    .project-tags {
        position:relative;
        width: 100%;
        margin-left: 0;
        padding-top: 1rem;
        text-align: left;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--white);
    }
}

.project-description {
    margin-left: calc(100% / 12 * 4);
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
}

.italic {
font-family: 'rungli-italic';
src: url(fonts/rungli-italic.woff2);
font-weight: 400;
}

.italic::selection {
    font-family: 'rungli-italic';
    src: url(fonts/rungli-italic.woff2);
    font-weight: 400;
    color: var(--yellow);
    }

.project-description::selection {
    color: var(--yellow);
  }


@media (max-width:1070px) {
    .project-description {
        width: 100%;
        margin-left: 0;
        margin-top: 4rem;
        margin-bottom: 4rem;
        text-align: left;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--white);
    }
}

.link {
    font-family: 'rungli-italic';
    src: url(fonts/rungli-italic.woff2);
    font-weight: 400;
}

.link:hover {
    font-family: 'rungli-italic';
    src: url(fonts/rungli-italic.woff2);
    font-weight: 400;
    color: var(--yellow);
    transition: .2s;
}

.projects-page .project-image img {
    position: sticky;
    margin-left: calc(100% / 12 * 4);
    width: calc(100% / 12 * 8);
    display: block;
    margin-bottom: 2rem;
}

@media (max-width:1070px) {
    .projects-page .project-image img {
    margin-left: 0;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    }
}

.project-videos .project-video-1 {
    width: 100%;
    margin-bottom: 1rem;
}

@media (max-width:1050px) {
    .project-videos .project-video-1 {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.project-videos .project-video-2 {
    width: 50%;
    margin-bottom: 1rem;
}

.project-videos {
    margin-left: calc(100% / 3);
}

@media (max-width:1070px) {
    .project-videos {
        margin-left: 0;
    }
}

.project-videos .project-video-3 {
    width: calc(100% / 3);
    margin-bottom: 1rem;
}

.project-videos .project-video-vertical {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5rem;
    aspect-ratio: 9/16;
}

.project-videos .project-video-square {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5rem;
    width: 100%;
    aspect-ratio: 1/1;
}

.project-videos .project-video-landscape {
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5rem;
    width: 100%;
    aspect-ratio: 16/9;
}

.project-videos iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.see-more-projects-red {
    margin: -1.5rem;
}

.see-more-projects-red ul {
    display: flex;
    color: var(--white);
    background: var(--black);

    justify-content: space-between;

}

.see-more-projects-red ul li {
    height: 6rem;
    padding: 0 1.5rem 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: left;

    color: var(--white);
    background: var(--black);
    font-size: 1.5rem;
    text-align: center;
}

.see-more-projects-red ul li:hover {
    color: var(--black);
    background-color: transparent;
    transition: .2s;
}

.see-more-projects-pink {
    margin: -1.5rem;
}

.see-more-projects-pink ul {
    display: flex;
    color: var(--white);
    background: var(--black);

    justify-content: space-between;
}

.see-more-projects-pink ul li {
    height: 6rem;
    padding: 0 1.5rem 0 1.5rem;

    display: flex;
    align-items: center;

    color: var(--white);
    background: var(--black);
    font-size: 1.5rem;
    text-align: center;
}

.see-more-projects-pink ul li:hover {
    color: var(--black);
    background-color: transparent;
    transition: .2s;
}

.see-more-projects-yellow {
    margin: -1.5rem;
}

.see-more-projects-yellow ul {
    display: flex;
    color: var(--white);
    background: var(--black);

    justify-content: space-between;

}

.see-more-projects-yellow ul li {
    height: 6rem;
    padding: 0 1.5rem 0 1.5rem;

    display: flex;
    align-items: center;

    color: var(--white);
    background: var(--black);
    font-size: 1.5rem;
    text-align: center;
}

.see-more-projects-yellow ul li:hover {
    color: var(--black);
    background-color: transparent;
    transition: .2s;
}

/* ----- RB ----- */
.projects-page .flex-container-rb {
    width: auto;
    display: block;
}

/* ----- Timpano ----- */
.projects-page .flex-container-timpano {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.projects-page .flex-container-timpano img {
    width: calc(100% / 3);
    flex-grow: 3;
}

/* ----- Skin Deep ----- */
.projects-page .flex-container-skin-deep {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-page .flex-container-skin-deep img {
    width: calc(100% / 3);
    flex-grow: 3;
}

/* ----- Verão Azul ----- */
.video-va {
    margin-bottom: 2rem;
}

/* ----- SCREENshots ----- */

.project-title-screenshot {
    position: fixed;
    width: calc(100% / 3.2);
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25;
    color: var(--black);
    background: transparent;
}


.project-title-screenshot::selection {
    color: var(--yellow);
  }


@media (max-width:769px) {
    .project-title-screenshot {
        position: fixed;
        width: 100%;
        margin-top: 4rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: var(--black);
        background: transparent;
    }
}

.project-tags-screenshot {
    position: fixed;
    width: calc(100% / 3.5);
    margin-top: 8rem;
    text-align: left;
    font-size: 1.10rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black);
    background: transparent;
}

.project-tags-screenshot::selection {
    color: var(--yellow);
  }

@media (max-width:1070px) {
    .project-tags-screenshot {
        position:relative;
        width: 100%;
        margin-left: 0;
        padding-top: 1rem;
        text-align: left;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--black);
        background: transparent;
    }
}

.screenshot {
    background-color: var(--grey);
    color: var(--black);
}
